.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Light Mode styles */
.app {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode styles */
.app.dark {
  background-color: #111317;
  color: #ffffff;
}

.app.dark h1,
.app.dark h2,
.app.dark h3,
.app.dark h4,
.app.dark h5,
.app.dark h6,
.app.dark p,
.app.dark span,
.app.dark a,
.app.dark div,
.app.dark .text-gray-900 {
  color: #ffffff; 
}

.transition {
  transition-property: all;
  transition-timing-function: ease;
}


@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  will-change: transform;
}
